{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="topimage">
    <img src="{% static 'images/bck_bg.jpg' %}" class="img-fluid" alt="background image" title="background image">
</div>

<div class="commontop">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="dashboard">
                    <div class="profile">
						<div class="col-sm-3 col-xs-12">
							{% if user.image %}
								<img class="img-fluid" src="{{ user.image.url }}" alt="Profile Picture" title="Profile Picture">
							{% else %}
								<img class="img-fluid" src="{% static 'images/dashboard/dp.png' %}" alt="Default Profile Picture" title="Default Profile Picture">
							{% endif %}
						</div>
						
                        <div class="col-sm-9 col-xs-12 padd0">
                            <h4>{{ user.username }}</h4>
                            <div class="common">
                                <p class="des"><i class="la la-map-marker"></i> {{ user.location|default:"Location not available" }}</p>
                                <p class="des1">Created Account: {{ user.date_joined|date:"Y-m-d" }}</p>
                            </div>
                            <ul class="list-inline">
                                <li class="active"><a href="{% url 'TestApp:user_dashboard' %}"><img src="{% static 'images/dashboard/grid.png' %}" alt="Dashboard" title="Dashboard" /><p>Dashboard</p></a></li>
                                <li><a href="{% url 'TestApp:my_ads' %}"><img src="{% static 'images/dashboard/card.png' %}" alt="My Ads" title="My Ads" /><p>My Ads</p></a></li>
                                <li><a href="{% url 'TestApp:my_searches' %}"><img src="{% static 'images/dashboard/search.png' %}" alt="My Searches" title="My Searches" /><p>My Searches</p></a></li>
                                <li><a href="{% url 'TestApp:fav_ads' %}"><img src="{% static 'images/dashboard/heart.png' %}" alt="Favourite Ads" title="Favourite Ads" /><p>Favourite Ads</p></a></li>
                                <li><a href="{% url 'TestApp:settings' %}"><img src="{% static 'images/dashboard/setting.png' %}" alt="Settings" title="Settings" /><p>Settings</p></a></li> 
                            </ul>
                        </div>
                    </div>
                    <div class="inner">
                        <p>Welcome, {{ user.username }}! Here’s your dashboard where you can manage your ads, messages, and more.</p>
                        <p><a href="#">Learn How It Works</a> - Watch a short video that shows how this platform works.</p>
                        <p><a href="#">Get Help</a> - View our help section and FAQ to get started.</p>
                    </div>
                    <ul class="list-inline icons">
                        <li>
                            <div class="img"><img src="{% static 'images/dashboard/cardboard.png' %}" alt="My Ads" title="My Ads" /></div>
                            <p><a href="{% url 'TestApp:my_ads' %}">My Ads</a></p>
                        </li>
                        <li>
                            <div class="img"><img src="{% static 'images/dashboard/like.png' %}" alt="Favourite Ads" title="Favourite Ads" /></div><p><a href="{% url 'TestApp:fav_ads' %}">Favourite Ads</a></p>
                        </li>
                        <li>
                            <div class="img"><img src="{% static 'images/dashboard/searchs.png' %}" alt="My Searches" title="My Searches" /></div><p><a href="{% url 'TestApp:my_searches' %}">My Searches</a></p>
                        </li>
                        <li>
                            <div class="img"><img src="{% static 'images/dashboard/settings.png' %}" alt="Settings" title="Settings" /></div><p><a href="{% url 'TestApp:settings' %}">Settings</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% comment %} {% extends "base.html" %}
{% block content %}

<div class="topimage">
	<img src="images/bck_bg.jpg" class="img-fluid" alt="image" title="image">
</div>

<!-- ad-single start here -->
<div class="commontop">
	<div class="container"> 
		<div class="row">
			<div class="col-sm-12 col-xs-12">
				<div class="dashboard">
					<div class="profile">
						<div class="col-sm-3 col-xs-12">
							<img class="img-fluid" src="images/dashboard/dp.png" alt="image" title="image">
						</div>
						<div class="col-sm-9 col-xs-12 padd0">
							<h4>John Doe</h4>
							<div class="common">
								<p class="des"><i class="la la-map-marker"></i> Ludhiana, Punjab</p>
								<p class="des1">Create Account : 2 Years ago</p>
							</div>
							<ul class="list-inline">
								<li class="active"><a href="dashboard.html"><img src="images/dashboard/grid.png" alt="image" title="image" /><p>Dashboard</p></a></li>
								<li ><a href="dashboard_my_ads.html"><img src="images/dashboard/card.png" alt="image" title="image" /><p>My Ads</p></a></li>
								<li><a href="dashboard_my_searches.html"><img src="images/dashboard/search.png" alt="image" title="image" /><p>My Searches</p></a></li>
								<li ><a href="dashboard_fav_ads.html"><img src="images/dashboard/heart.png" alt="image" title="image" /><p>Favourite Ads</p></a></li>
								<li><a href="dashboard_message.html"><img src="images/dashboard/message.png" alt="image" title="image" /><p>Messages</p></a></li>
								<li><a href="dashboard_setting.html"><img src="images/dashboard/setting.png" alt="image" title="image" /><p>Setting</p></a></li>
							</ul>
						</div>
					</div>
					<div class="inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium dictum diam vel laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer dictum justo nec lacus porta congue. Phasellus convallis ut urna a lobortis. Vestibulum bibendum quam ligula, ac fringilla mi efficitur sed. Curabitur non augue enim. Sed efficitur semper elit, eget gravida est scelerisque ut. </p>
						<p><a>Learn How It Work </a> -  Watch a short video that shows you have classifiedspot works.</p>
						<p><a>Get Help </a> -  View our help section and FAQ to get started on classifiedspot.</p>
					</div>
					<ul class="list-inline icons">
						<li>
							<div class="img"><img src="images/dashboard/cardboard.png" alt="image" title="image" /></div>
							<p><a href="dashboard_my_ads.html">My Ads</a></p></li>
						<li>
							<div class="img"><img src="images/dashboard/messages.png" alt="image" title="image" /></div><p><a href="dashboard_message.html">Messages</a></p></li>
						<li><div class="img"><img src="images/dashboard/like.png" alt="image" title="image" /></div><p><a href="dashboard_fav_ads.html">Favourite Ads</a></p></li>
						<li><div class="img"><img src="images/dashboard/searchs.png" alt="image" title="image" /></div><p><a href="dashboard_my_searches.html">My Searches</a></p></li>
						<li><div class="img"><img src="images/dashboard/settings.png" alt="image" title="image" /></div><p><a href="dashboard_setting.html">Setting</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ad-single end here -->

{% endblock %} {% endcomment %}